.assessment-work , .do-order {
  background: url(../img/form-bg.png) no-repeat 50%;
  background-size: cover;

  .wrap {
    max-width: 870px;
    margin: 0 auto;
  }

  .title {font-weight: 600;}

  .assessment-form, .order-form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 900px) {
      justify-content: center;
    }

    .item {
      padding: 0 15px;
      width: 33.333%;

      @media (max-width: 900px) {
        width: 50%;
      }

      @media (max-width: 550px) {
        width: 100%;
      }

      input:not([type="file"]):not(.number), textarea {
        border: none;
        padding-left: 30px;
        background-color: white;
        border-radius: 25px;
        margin-bottom: 30px;
        color: black;
        @include fontSize(12px);
        font-weight: 400;
        line-height: 50px;
        width: 100%;
        outline: none;
        cursor: pointer;

        &::-webkit-input-placeholder {
          color: #8e9091;
        }

        @media (max-width: 550px) {
          margin-bottom: 15px;
        }
      }

      textarea {
        line-height: 20px;
        height: 133px;
        padding-top: 12px;
      }
    }

    //Custom select
    .jq-selectbox.jqselect {
      width: 100%;
      margin-bottom: 30px;

      @media (max-width: 550px) {
        margin-bottom: 15px;
      }

      .jq-selectbox__select {
        border: none;
        height: auto;
        width: 100%;
        background: #fff;
        box-shadow: none;
        color: #8e9091;
        @include fontSize(12px);
        font-weight: 400;
        line-height: 52px;
        border-radius: 25px;
        padding-left: 30px;
        padding-right: 15px;

        .jq-selectbox__trigger {
          border: none;
          margin-right: 5px;

          &:before {
            content: '\f107';
            font-family: FontAwesome;
            color: #8a8c8b;
            @include fontSize(16px);
            font-weight: 400;
            line-height: 20px;
          }

          .jq-selectbox__trigger-arrow {display: none;}
        }
      }

      .jq-selectbox__dropdown {
        margin-top: 0;
        border-radius: 26px;
        border: 1px solid #eae8e8;
        background-color: #fff;
        padding: 25px 25px 10px;

        li:first-child {
          display: none;
        }

        li {
          @include fontSize(12px);
          font-weight: 400;
          color: #8e9091;
          line-height: 20px;
          padding: 0 0 15px;

          &:hover {
            color: #0087ca;
            background: none;
          }
        }
      }
    }

    //Custom input - file
    .jq-file {
      background-color: #d3e5ff;
      border: 1px solid #bad6ff;
      border-radius: 25px;
      margin-bottom: 29px;
      width: 100%;



      &:hover {
        cursor: pointer;
      }

      .jq-file__browse {
        display: none;
      }

      .jq-file__name {
        height: auto;
        padding: 0 25px 0 60px;
        border: none;
        border-radius: 0;
        background: none;
        box-shadow: none;
        color: #0087ca;
        @include fontSize(12px);
        font-weight: 400;
        line-height: 50px;

        &:before {
          content: "\f0c6";
          font-family: FontAwesome;
          position: absolute;
          left: 35px;
          @include fontSize(20px);
        }
      }
    }

  }

  input[type="submit"] {
    @extend .base-btn;
    max-width: calc(33.33% - 30px);

    @media (max-width: 900px) {
      max-width: calc(50% - 30px);
    }

    @media (max-width: 550px) {
      max-width: calc(100% - 30px);
    }
  }
}

.do-order {
  background: url(../img/order-bg.jpg) no-repeat 50%;
  background-size: cover;

  &.cooperation {
    background: url(../img/cooperation-bg.jpg) no-repeat 50% 50%;
    background-size: cover;
  }

  .wrap {
    max-width: 580px;
    .title {
      color: #fff;
    }

    .order-form {
      .item {
        width: 50%;

        @media (max-width: 550px) {
          width: 100%;
        }
      }
    }

    input[type="submit"] {
      max-width: 235px;
    }
  }
}

.assessment-work {

  //Page about sevices
  &.about-services {
    background: url(../img/assm-work-bg.jpg) 50% 50% no-repeat;
    background-size: cover;
  }
  &.free-lessons {
    background: url(../img/free-lessons-bg.jpg) 50% 50% no-repeat;
    background-size: cover;
  }

  //Page reviews
  &.leave-review {
    background: url(../img/review-form-bg.jpg) 50% 50% no-repeat;
    background-size: cover;

    .assessment-form {
      flex-wrap: wrap;
    }

    .item {
      &.large {
        width: 100%;
        max-width: 100%;
      }

      .rating-inp {
        margin-bottom: 30px;
        cursor: pointer;
        border: none;
        padding-left: 30px;
        background-color: #fff;
        -webkit-border-radius: 25px;
        border-radius: 25px;
        color: #8e9091;
        @include fontSize(12px);
        font-weight: 400;
        line-height: 50px;
        width: 100%;
        outline: 0;
        position: relative;

        &:before {
          content: '\f107';
          font-family: FontAwesome;
          color: #8a8c8b;
          @include fontSize(16px);
          font-weight: 400;
          line-height: 50px;
          position: absolute;
          right: 30px;
        }

        .ticker-wrap {
          position: absolute;
          width: 100%;
          left: 0;
          top: 100%;
          border-radius: 26px;
          border: 1px solid #eae8e8;
          background-color: #ffffff;
          padding: 30px;
          min-height: 99px;
          display: none;
          z-index: 999;

          .ticker {
            height: 6px;
            border-radius: 3px;
            background-color: #eae8e8;
            border: none;

            .ui-slider-range {background-color: #0087ca;}
            .ui-slider-handle {
              width: 10px;
              height: 18px;
              border-radius: 5px;
              border: 1px solid #dbd9d9;
              background-color: #ffffff;
              outline: none;
            }

            &:before {
              content: '0';
              color: #8e9091;
              font-size: 12px;
              font-weight: 400;
              line-height: 20px;
              position: absolute;
              left: 0;
              top: 12px;
            }
            &:after {
              content: '10';
              color: #8e9091;
              font-size: 12px;
              font-weight: 400;
              line-height: 20px;
              position: absolute;
              right: 0;
              top: 12px;
            }
          }
        }

        &.open {
          .ticker-wrap {display: block;}
          &:before {
            content: '\f106';
          }
        }

        .number {
          background: none;
          border: none;
          color: #5a5c5d;
          @include fontSize(24px);
          font-weight: 700;
          line-height: 20px;
          text-transform: uppercase;
          width: 45px;
          margin: 0 auto;
          display: block;
          text-align: center;
          padding-top: 14px;
        }
      }
    }
  }

  //Services page
  &.services-work {
    background: #f9fafa;

    .wrap {
      max-width: 550px;

      .assessment-form  .item{
        max-width: 50%;

        @media (max-width: 550px) {
          max-width: 100%;
        }

        input, .jq-selectbox.jqselect .jq-selectbox__select {border: 1px solid #eae8e8;}
      }
    }

    input[type='submit'] {max-width: 50%;}
  }

  //Specialization page
  &.our-specialization {
    background: #f9fafa;

    .wrap .assessment-form .item {
      .jq-selectbox.jqselect .jq-selectbox__select, input, textarea {
        border: 1px solid #eae8e8;
      }
      textarea {height: 220px;}
    }
  }

  &.cooperation-transl {
    background: url(../img/cooper-form-bg.jpg) no-repeat;
    background-size: cover;

    .jq-selectbox.jqselect .jq-selectbox__select, input, textarea {
      border: none;
    }
  }
}